{% extends "core_app/base.html" %}

{% block title%} Главная | {%endblock title%}

{% block header %}
  <div class="header-wrapper">
    <div class="header-content">
      {%  if user.is_authenticated %}
      <h1>Главная</h1> 
      <ul class="nav-panel">
        <li>Авторизованы как: {{ user.username }}</li>
           {% if user.is_superuser %}
          <li>
            <a href="{% url 'admin:index' %}">
                Перейти в админ-панель
            </a>
          </li>
            {% else %}
            <li>
                <a href="{% url 'core_app:account'%}">
                  Личный кабинет
                </a>
              </li>
            {% endif %}
        <li>
            <a href="{% url 'core_app:logout' %}">
              Выход
            </a>
        </li>
      </ul>    
      {% else %}
      <ul class="nav-panel">
        <li>
          <a href="{% url 'core_app:sign-up' %}">Регистрация</a>
        </li>
        <li>
          <a href="{% url 'core_app:sign-in' %}">Вход</a>
        </li>
      </ul>
    </div>
  </div>
      {% endif %}
{% endblock header %}

{% block content%}

{% endblock content%}
