{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'core_app/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'core_app/css/style.css' %}">
  
    <script src="{% static 'core_app/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'core_app/js/bootstrap.min.js' %}"></script>
</head>
<body>
        <header>
                {% if user.is_authenticated %}
                  Ну приветики, {{ user.username }}!
                  <a href="{% url 'core_app:system_logout' %}">Выйти</a>
                {% else %}
                  <a href="{% url 'core_app:system_sign_in' %}">Войти</a>
                {% endif %}
              </header>
        <div class="container-fluid">
            {% block main_page %}{% endblock %}
        </div>
</body>
</html>